{% extends 'basenone.html' %}
{% load static %}
{% block content %}
    <div class="overlay">
        <div class="pop-up">
            <div class="pop-up__hero">
                <h2 class="pop-up__title">TOTO<span>7 -</span> твоя счастливая ставка!</h2>
            </div>
            <form class="pop-up__form form-login" name="login"
                  method="post">
                <p><span style="font-size: 25px; color: #2099ff">TOTO7</span> - это возможность оседлать удачу и забрать крупный приз. Наша система выстраивается на выборе
                    именно семи событий , цифра семь - символ всего таинственного и магического, это самое интересное и
                    самое загадочное, волшебное число которое может привести вас к большим денежным достижениям. Мы
                    сделали акцент на экспресс событиях , выстроенных на самых популярных матчах в мире спорта и
                    киберспорта. Забудьте о нудных и неудобных тотализаторах. Мы убрали всё лишнее и оставили только
                    нужное. Удобный функционал и простой дизайн помогут вам в правильном выборе. Что нужно для того
                    чтобы победить ? Угадать исход всех семи событии, выбрать один из трёх видов получения приза и
                    забрать его. Ваш инстинкт или же просто удача помогут вам в этом! Мы будем рады каждому из Вас.
                    Победит не сильнейший, победит смышленый.</p>
            </form>
        </div>
    </div>
{% endblock %}