{% load static %}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="DESCRIPTION"/>
    <meta name="keywords" content="KEYWORDS"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!-- link(rel="preconnect" href="https://fonts.googleapis.com")-->
    <!-- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)-->
    <!-- link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")-->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <title>TOTO7 - твоя счастливая ставка!</title>
    <script defer src="{% static 'js/main.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</head>
<body class="isLoading">
<header class="header">
    <a class="header__logo" href="/"><img src="{% static 'assets/images/logo.svg' %}" alt="Logo"/></a>
    <nav class="header__navigation navigation">
    </nav>
    {% if user.is_authenticated %}
        <div class="header__user user">
            <a href="{% url 'circulation:userinfo' %}" class="user__info">
                <div class="user__avatar">{{ user.username.0.upper }}.{{ user.first_name.0.upper }}</div>
                <div class="user__name">{{ user.username.title }} {{ user.first_name.title }}</div>
            </a>
            {% if user.role == 'ADMIN' %}
                <a href="{% url 'circulation:adminpanel' %}" class="user__privilege">Администратор</a>
            {% endif %}
            <a style="margin-left: 10px" href="{% url 'circulation:sign_out' %}" class="user__logout-btn btn"
               type="button">Выход</a>
        </div>
    {% else %}
        <div class="header__auth auth">
            <a
                    href="{% url 'circulation:sign_in' %}"
                    class="auth__btn btn auth__btn_login"
                    type="button"
                    data-form-name="login"
            >
                Вход
            </a>
            <a href="{% url 'circulation:sign_up' %}"
               class="auth__btn btn auth__btn_signup"
               type="button"
               data-form-name="signup"
            >
                Регистрация
            </a>
        </div>
    {% endif %}

    <div class="header__burger"><span></span><span></span><span></span></div>
</header>

{% block content %}
{% endblock %}

<footer class="footer">
    <a class="footer__logo" href="/"><img src="/static/assets/images/logo.svg" alt="Logo"/></a>
    <ul class="footer__links-list">
        <li><a class="footer__link" href="{% url 'circulation:about' %}">О нас</a></li>
        <li><a class="footer__link" href="{% url 'circulation:rules' %}">Правила</a></li>
        <li><a class="footer__link" href="{% url 'circulation:privacy' %}">Политика конфиденциальности</a></li>
        {% if user.role == 'ADMIN' %}
            <li><a class="footer__link" href="{% url 'circulation:circulation_archive' %}">Архив тиражей</a></li>
            <li><a class="footer__link" href="{% url 'circulation:commands' %}">Список команд</a></li>
        {% endif %}
    </ul>
</footer>
</body>
</html>
