{% extends "base.html" %}
{% load static %}
{% block content %}
    {% block script %}
        <script src="{% static 'js/users.js' %}"></script>
    {% endblock %}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <main>
        <section class="content">
            <div class="content__tabs-item">
                <div class="tab-block _active" id="future-circulation">
                    <div class="table-container">
                        <div class="">
                            <button style="margin-right: 10px" class="table-bottom-button" type="button"
                                    id="myBtncommand">Добавить команду +
                            </button>
                        </div>

                            <form action="">
                                <table class="table">
                                    <thead class="table-head">
                                    <tr>
                                        <th>Участник</th>
                                        <th>Редактировать</th>
                                        <th>Удалить</th>
                                    </tr>
                                    </thead>

                                    <tbody class="tbody-future-circulation">
                                    {% for command in commands %}
                                            <tr>
                                                <td>
                                                    <div style="display: flex; align-items: center">
                                                        <img style="width: 5%" src="{{ command.imag.url }}"
                                                             alt=""/>
                                                        {{ command.name }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <a style="color: #2099ff; cursor: pointer"
                                                       href="{% url 'circulation:commands_edit' command.pk %}">
                                                        редактировать
                                                    </a>
                                                </td>
                                                <td>
                                                    <a style="color: #ff4e20; cursor: pointer"
                                                       href="{% url 'circulation:commands_delete' command.pk %}">
                                                        удалить
                                                    </a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>


                        <div id="myModalcommand" class="modal"
                             style="display: none;position: fixed;z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.8);"
                        >
                            <div style="background-color: #fefefe; margin: 15% auto; padding: 10px; border: 1px solid #888; width: 20%">
                                <span class="close"
                                      style="color: #888; float: right; font-size: 28px; font-weight: bold; cursor: pointer">&times;</span>
                                <form class="form-login" style="padding: 10px" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-login__field">
                                        <label>Укажите Название</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="">
                                        <label>Укажите Изображение</label>
                                        {{ form.imag }}
                                    </div>
                                    <button class="form-login__submit-btn" type="submit">Создать</button>
                                </form>
                            </div>
                        </div>
                        <script>
                            var modalcommand = document.getElementById('myModalcommand');
                            var btncommand = document.getElementById('myBtncommand');
                            var sapn = document.getElementsByClassName("close")[0];

                            btncommand.onclick = function () {
                                modalcommand.style.display = 'block';
                            }
                            sapn.onclick = function () {
                                modal.style.display = 'none';
                            }
                        </script>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
