{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="hero">
            <h1 class="hero__title">TOTO<span>7&nbsp;-</span> твоя счастливая ставка!</h1>
        </section>
        <div class="" style="">
            <h1 style="margin-top: 20px;" class="section-title">Победители</h1>
            <div style="display: flex;align-items: center;justify-content: space-between;">
                {% for betinfo in betinfo %}
                    <div class="" style="display: flex">
                        <div style="width: 5vw; height: 5vw; border: #2099ff solid 5px" class="user__avatar">
                            {% if betinfo.imag %}
                                <img src="{{ betinfo.imag.url }}" alt="">
                            {% else %}
                                <div style="color:#2099ff; font-size: 20px">
                                    {{ betinfo.username.0.upper }}.
                                    {{ betinfo.lastname.0.upper }}
                                </div>
                            {% endif %}
                        </div>
                        <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: space-around;"
                             class="">
                            <div class="user__name"
                                 style="color: #000000; font-size: 30px">{{ betinfo.username.title }} {{ betinfo.lastname.title.0 }}.
                            </div>
                            <div class="user__name"
                                 style="color: #2099ff; font-size: 25px">+ {{ betinfo.price }} р.
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <section class="events">
            <h2 class="events__title section-title">События</h2>
            <div class="events__list">
                {% for match in match %}
                    <div class="events__card card-event">
                        <div class="card-event__head">
                            <h3 class="card-event__title">
                                {{ match.tour }}
                            </h3>
                            <time class="card-event__time">{{ match.start_data }}</time>
                        </div>
                        <div class="card-event__body">
                            <div class="card-event__competitor card-event__competitor_first competitor">
                                <div class="competitor__image">
                                    <img src="{{ match.command_a.imag.url }}" alt=""/>
                                </div>
                                <p class="competitor__name">{{ match.command_a }}</p>
                            </div>
                            <div class="card-event__buttons-wrapper">
                                <button class="card-event__btn btn" type="button">
                                    <label>
                                        <span>Победа</span>
                                    </label>
                                </button>
                                <button class="card-event__btn btn" type="button">
                                    <label>
                                        <span>Ничья</span>
                                    </label>
                                </button>
                                <button class="card-event__btn btn" type="button">
                                    <label>
                                        <span>Победа</span>
                                    </label>
                                </button>
                            </div>
                            <div
                                    class="card-event__competitor card-event__competitor_second competitor"
                            >
                                <div class="competitor__image">
                                    <img src="{{ match.command_b.imag.url }}" alt=""/>
                                </div>
                                <p class="competitor__name">{{ match.command_b }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="events__btn btn">Сделать ставку</button>
        </section>
        <section class="choose">
            <h2 class="choose__title section-title">Выберите билет</h2>
            <div class="choose__tickets tickets">
                {% for ticket in ticket %}
                    <div class="tickets__item">
                        <h3 class="tickets__head tickets__head_{% if ticket.price == 100 %}red{% elif ticket.price == 500 %}gold{% elif ticket.price == 1000 %}blue{% endif %}">{{ ticket.name }}</h3>
                        <div class="tickets__body tickets__body_{% if ticket.price == 100 %}red{% elif ticket.price == 500 %}gold{% elif ticket.price == 1000 %}blue{% endif %}">
                            <p class="tickets__price">Стоимость: {{ ticket.price }} р.</p>
                            <p class="tickets__win">Выигрыш: {{ ticket.win }} р.</p>
                            <button class="tickets__btn btn" type="button">Как получить?</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
