{% extends 'basenone.html' %}
{% load static %}
{% block content %}
    <div class="overlay">
        <div class="pop-up">
            <div class="pop-up__hero">
                <h2 class="pop-up__title">TOTO<span>7 -</span> твоя счастливая ставка!</h2>
            </div>
            <form class="pop-up__form form-login" name="login"
                  method="post">
                <h1 style="font-size: 20px; font-weight: bold; margin-bottom: 10px">Письмо с инструкциями по
                    восстановлению пароля отправлено</h1>

                <p style="font-size: 15px; margin-bottom: 10px">Мы отправили вам инструкцию по установке нового пароля
                    на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить
                    ее в ближайшее время.</p>

                <p style="font-size: 15px; margin-bottom: 20px">
                    Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы
                    зарегистрировались, и проверьте папку со спамом.</p>

                <a href="{% url 'circulation:sign_in' %}" class="form-signup__submit-btn"
                   type="submit">
                    Назад
                </a>
            </form>
        </div>
    </div>
{% endblock %}