{% extends 'basenone.html' %}
{% load static %}
{% block content %}
    <div class="overlay">
        <div class="pop-up">
            <div class="pop-up__hero">
                <h2 class="pop-up__title">TOTO<span>7 -</span> твоя счастливая ставка!</h2>
            </div>
            <form class="pop-up__form form-login" name="login"
                  method="post">
                {% csrf_token %}
                <h1 style="font-size: 20px; font-weight: bold; margin-bottom: 10px">Восстановление пароля</h1>

                <p style="font-size: 15px; margin-bottom: 10px">Введите свой адрес электронной почты ниже, и мы вышлем
                    вам инструкцию, как установить новый пароль.</p>
                {{ form }}
                <button style="margin-top: 10px" class="form-login__submit-btn" type="submit">Восстановить</button>
                <a style="margin-left: 10px" href="{% url 'circulation:sign_in' %}" class="form-signup__submit-btn"
                   type="submit">
                    Назад
                </a>
            </form>
        </div>
    </div>
{% endblock %}