{% extends 'basenone.html' %}
{% load static %}
{% block content %}
    <div class="overlay">
        <div class="pop-up">
            <div class="pop-up__hero">
                <h2 class="pop-up__title">TOTO<span>7 -</span> твоя счастливая ставка!</h2>
            </div>
            <form class="pop-up__form form-login" name="login"
                  method="post">
                <h1 style="font-size: 20px; font-weight: bold; margin-bottom: 10px">Пароль успешно изменен</h1>

                <p style="font-size: 15px; margin-bottom: 20px">Ваш пароль был изменен.</p>
                <a href="{% url 'circulation:userinfo' %}" class="form-signup__submit-btn"
                   type="submit">
                    Назад
                </a>
            </form>
        </div>
    </div>
{% endblock %}