{% extends 'basenone.html' %}
{% load static %}
{% block content %}
    <div class="overlay">
        <div class="pop-up">
            <div class="pop-up__hero">
                <h2 class="pop-up__title">TOTO<span>7 -</span> твоя счастливая ставка!</h2>
            </div>
            <form class="pop-up__form form-login" name="login"
                  method="post">
                <p>Регистрируясь, действуя от своего имени, своей волей и в своем интересе, я даю добровольное,
                    информированное и конкретное согласие компании ТОТО7 на обработку следующих моих Персональных
                    данных:
                    * Ф. И. О, регион проживания, дата рождения
                    * Электронная почта, номер телефона
                    Также предоставляю согласие на обработку следующей информации:
                    данных о геолокации моего мобильного устройства (при условии получения моего согласия на
                    предоставление таких данных);
                    технических данных: данных об аппаратном и программном обеспечении моего устройства, имени
                    устройства, публичных IP-адресах, cookie, данных об идентификаторе браузера.
                    Настоящим даю согласие на обработку моих Персональных данных автоматизированным и
                    неавтоматизированным способами (смешанная обработка) путем выполнения следующих операций: сбора,
                    записи, систематизации, накопления, хранения, уточнения (обновления, изменения), извлечения,
                    использования, передачи (предоставления, доступа), обезличивания, блокирования, удаления,
                    уничтожения. Компанией не принимаются решения, порождающие юридические последствия в отношении
                    Клиентов или иным образом затрагивающие их права и законные интересы, на основании исключительно
                    автоматизированной обработки их Персональных данных.
                    Даю согласие на обработку моих Персональных данных с целями:
                    регистрации и идентификации участника азартной игры в соответствии с требованиями применимого
                    законодательства;
                    осуществления обращений, поддержания связи по телефону, отправки SMS-сообщений и электронных писем
                    для информирования о новостях, мероприятиях, акциях, результатах их проведения;
                    осуществления прав и обязанностей Компании по заключенному со мной договору, а также заключения
                    договора по моей инициативе;
                    учета переводов ставок, интерактивных ставок, выигрышей по ним;
                    предотвращения противоправного влияния на результаты спортивных соревнований
                    Регистрируясь, я также подтверждаю, что:

                    у меня отсутствуют бенефициарные владельцы и выгодоприобретатели;
                    предполагаю установление долгосрочного характера договорных отношений;
                    не являюсь иностранным публичным должностным лицом, должностным лицом публичных международных
                    организаций, а также лицом, замещающим (занимающим) государственные должности Российской Федерации,
                    а также не являюсь по отношению к указанным лицам близким родственником или супругой / супругом.
                    Подтверждаю достоверность указанных выше Персональных данных и обязуюсь сообщать о любом изменении
                    указанных данных. Настоящее согласие действует со дня моей регистрации и до момента отзыва
                    настоящего согласия у Компании.<a style="margin-top: 40px; color:#2099ff;"
                                                                 href="{% url 'circulation:index' %}">
                        Назад
                    </a></p>
            </form>
        </div>
    </div>
{% endblock %}