{% extends 'basenone.html' %}
{% load static %}
{% block content %}
    <style>
        ul li {
            margin-bottom: 15px;
        }
    </style>
    <div class="overlay">
        <div class="pop-up">
            <div class="pop-up__hero">
                <h2 class="pop-up__title">TOTO<span>7 -</span> твоя счастливая ставка!</h2>
            </div>
            <form class="pop-up__form form-login" name="login"
                  method="post">
                <h1 style="color: #2099ff;margin-bottom: 20px; font-weight: bold">Правила : 01:55</h1>
                <h2 style="margin-bottom: 20px">тотализатор – тип пари, для выигрыша которого участники стараются угадать результаты предложенных
                    матчей. Главная особенность тото – возможность выиграть крупную сумму с минимальными затратами
                    личных денежных средств.</h2>

                <ul>
                    <li>1.1 Для получения выплаты на тотализаторе, игроку необходимо угадать все семь событий1.2
                        Компания
                        выпускает тиражи тото ежедневно, по выходным или с интервалом в 2–4 дня.
                    </li>
                    <li>1.3 При выборе исходов участники не видят коэффициенты предложенных событий.1.4 Приём ставок
                        осуществляется только для лиц старше восемнадцати лет
                    </li>
                    <li>1.5 За пополнение по ошибочным реквизитам компания не несёт никакой ответственности</li>
                    <li>2.1 Служащая условием участия в азартной игре ставка которая была совершена, может вернуться
                        клиенту
                        только выигрышем
                    </li>
                    <li>2.1 Служащая условием участия в азартной игре ставка которая была совершена, может вернуться
                        клиенту
                        только выигрышем
                    </li>
                    <li>2.2 Без заключения пари, деньги могут быть возвращены только лично клиенту по заявки в
                        техническую
                        поддержку <a href="mailto:toto7help@gmail.com">toto7help@gmail.com</a></li>
                    <li>
                        2.3 Выигрыш на тотализаторе – деньги, которые можно вывести только на любую банковскую карту или
                        электронный кошелек и кошелек криптовалюты
                    </li>
                    <li>2.4 ТОТО7 - не несёт никакой ответственности за выполненные пари на других похожих сайтах, этот
                        сайт
                        является единственным
                    </li>
                    <li>2.5 В случае изменений даты проведения того или иного матча или же его отмены. Купон
                        аннулируется.
                        Деньги будут возвращены клиенту на его личный счёт
                    </li>
                    <li>3.1 Регистрируясь, вы соглашаетесь со всеми правилами азартных игр, взяв на себя ответственность
                        за
                        ваши потраченные деньги, приняв тот факт что мы не являемся букмекерской конторой
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}