{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="POST" class="pop-up__form form-login" name="login">
        {{ form }}
        <input class="form-login__submit-btn" type="submit" value="Войти" />
        {#            <fieldset>#}
        {#                <legend>#}
        {#                    Вход#}
        {#                    <button type="button" class="signup-btn">Регистрация</button>#}
        {#                </legend>#}
        {#                <div class="form-login__field">#}
        {#                    <label>Укажите Ваш E-mail</label>#}
        {#                    <input#}
        {#                            type="email"#}
        {#                            placeholder="User@domain.com"#}
        {#                            autocomplete="off"#}
        {#                            required#}
        {#                            name="email"#}
        {#                    /><small></small>#}
        {#                </div>#}
        {#                <div class="form-login__field">#}
        {#                    <label>Введите пароль</label>#}
        {#                    <input#}
        {#                            type="password"#}
        {#                            placeholder="Пароль"#}
        {#                            autocomplete="off"#}
        {#                            required#}
        {#                            name="password"#}
        {#                    /><small></small>#}
        {#                </div>#}
        {#                <div class="form-login__field form-login__field_flex">#}
        {#                    <input type="checkbox" name="signupCheckbox"/><span#}
        {#                        class="checkmark"#}
        {#                ></span>#}
        {#                    <label class="checkbox-label">Запомнить меня</label>#}
        {#                </div>#}
        {#                <button class="form-login__submit-btn" type="submit">Войти</button>#}
        {#                <button class="form-login__restore-btn" type="button">Забыли пароль?</button>#}
        {#            </fieldset>#}
    </form>
{% endblock %}